body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
  display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 96px; 
  grid-gap: 32px;
	height: 100vh;
}
@media only screen and (max-width: 1390px) {
  #app {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1000px) {
  .App {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    grid-template-columns: auto;
    height: auto;
  }
}
.grid-item {
	display: grid;
	grid-template-rows: 65% 35%;
	background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 60px;
	transition: transform 500ms;
  min-height: 130px;
}

.grid-item:hover {
	transition: transform 500ms;
	transform: scale(1.1);
}

.grid-cell--top, .grid-cell--bottom {
	display: flex;
	justify-content: center; 
  align-items: center;
}

.grid-cell--bottom { 
  font-weight: 900; 
  font-size: 1.5rem;
}

.grid-cell--inner{
  height: 30px;
  width: 30px;
}
.scale { 
	transition: transform 1s linear;
	transform: scale(4) scale(0.25);
}
